# Maven files
target/

# Idea files
.idea
*.iml

# macOS
.DS_Store

# Eclipse files
.project
.settings
.classpath

# The following files are generated/updated by flow-maven-plugin
package*.json
webpack.config.js
webpack.generated.js
error-screenshots
node_modules/
